## Data Cleaning and Wrangling

In [1]:
import pandas as pd

In [ ]:
df = pd.read_excel('NBA_Stats_71_Years.xlsx')

In [ ]:
df.head()

,Rank,Year,Season Start Year,Season Type,Player ID,Player,Team ID,Team,Games Played,Minutes Played,...,Rebounds,Assists,Steals,Blocks,Turnovers,Personal Fouls,Points Scored,Efficency,AST/TOV,STL/TOV
0,1,1951-52,1951,Regular Season,76056,Paul Arizin,1610612744,PHW,66,2939,...,745,170,NaN,NaN,NaN,250,1674,1786,NaN,NaN
1,2,1951-52,1951,Regular Season,600012,George Mikan,1610612747,MNL,64,2572,...,866,194,NaN,NaN,NaN,286,1523,1592,NaN,NaN
2,3,1951-52,1951,Regular Season,600003,Bob Cousy,1610612738,BOS,66,2681,...,421,441,NaN,NaN,NaN,190,1433,1322,NaN,NaN
3,4,1951-52,1951,Regular Season,77429,Ed Macauley,1610612738,BOS,66,2631,...,529,232,NaN,NaN,NaN,174,1264,1396,NaN,NaN
4,5,1951-52,1951,Regular Season,76514,Bob Davies,1610612758,ROC,65,2394,...,189,390,NaN,NaN,NaN,269,1052,935,NaN,NaN

In [ ]:
df.shape

(33329, 31)

In [ ]:
df.columns

Index(['Rank', 'Year', 'Season Start Year', 'Season Type', 'Player ID',
       'Player', 'Team ID', 'Team', 'Games Played', 'Minutes Played',
       'FG Made', 'FG Attempts', 'FG %', '3-Pt FG Made', '3-Pt FG Attempts',
       '3-Pt FG %', 'FT Made', 'FT Attempts', 'FT %', 'Offensive Rebounds',
       'Defensive Rebounds', 'Rebounds', 'Assists', 'Steals', 'Blocks',
       'Turnovers', 'Personal Fouls', 'Points Scored', 'Efficency', 'AST/TOV',
       'STL/TOV'],
      dtype='object')

In [ ]:
#Finding Unique valuesin Season Type
df['Season Type'].unique()

array(['Regular Season', 'Playoffs'], dtype=object)

In [ ]:
df['Season Type'].value_counts()

Regular Season    22832
Playoffs          10497
Name: Season Type, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33329 entries, 0 to 33328
Data columns (total 31 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                33329 non-null  int64
 1   Year                33329 non-null  object
 2   Season Start Year   33329 non-null  int64
 3   Season Type         33329 non-null  object
 4   Player ID           33329 non-null  int64
 5   Player              33329 non-null  object
 6   Team ID             33329 non-null  int64
 7   Team                33329 non-null  object
 8   Games Played        33329 non-null  int64
 9   Minutes Played      33329 non-null  int64
 10  FG Made             33329 non-null  int64
 11  FG Attempts         33329 non-null  int64
 12  FG %                33329 non-null  float64
 13  3-Pt FG Made        27033 non-null  float64
 14  3-Pt FG Attempts    27033 non-null  float64
 15  3-Pt FG %           27033 non-null  float64
 16  FT Made             33329 non-null  int64
 17  FT Attempts         33329 non-null  int64
 18  FT %                33329 non-null  float64
 19  Offensive Rebounds  29100 non-null  float64
 20  Defensive Rebounds  29100 non-null  float64
 21  Rebounds            33329 non-null  int64
 22  Assists             33329 non-null  int64
 23  Steals              29100 non-null  float64
 24  Blocks              29100 non-null  float64
 25  Turnovers           27763 non-null  float64
 26  Personal Fouls      33329 non-null  int64
 27  Points Scored       33329 non-null  int64
 28  Efficency           33329 non-null  int64
 29  AST/TOV             27763 non-null  float64
 30  STL/TOV             27763 non-null  float64
dtypes: float64(12), int64(15), object(4)
memory usage: 7.9+ MB

In [ ]:
df.isnull().sum()

Rank                     0
Year                     0
Season Start Year        0
Season Type              0
Player ID                0
Player                   0
Team ID                  0
Team                     0
Games Played             0
Minutes Played           0
FG Made                  0
FG Attempts              0
FG %                     0
3-Pt FG Made          6296
3-Pt FG Attempts      6296
3-Pt FG %             6296
FT Made                  0
FT Attempts              0
FT %                     0
Offensive Rebounds    4229
Defensive Rebounds    4229
Rebounds                 0
Assists                  0
Steals                4229
Blocks                4229
Turnovers             5566
Personal Fouls           0
Points Scored            0
Efficency                0
AST/TOV               5566
STL/TOV               5566
dtype: int64

In [ ]:
df.describe()

,Rank,Season Start Year,Player ID,Team ID,Games Played,Minutes Played,FG Made,FG Attempts,FG %,3-Pt FG Made,...,Rebounds,Assists,Steals,Blocks,Turnovers,Personal Fouls,Points Scored,Efficency,AST/TOV,STL/TOV
count,33329.000000,33329.000000,3.332900e+04,3.332900e+04,33329.000000,33329.000000,33329.000000,33329.000000,33329.000000,27033.000000,...,33329.000000,33329.000000,29100.000000,29100.000000,27763.000000,33329.000000,33329.000000,33329.000000,27763.000000,27763.000000
mean,161.709322,1995.718953,2.082257e+05,1.610613e+09,40.082391,960.404423,157.218158,343.915059,0.430677,21.955055,...,178.413364,92.243692,31.600172,19.702577,57.969492,90.641303,412.938912,466.882505,1.412655,0.573464
std,126.508479,18.247005,4.495152e+05,1.400733e+02,30.295572,938.065045,182.051106,386.520808,0.122874,40.066390,...,215.528972,128.236587,36.784919,33.219221,65.343339,84.917607,479.021978,527.376360,1.094306,0.480922
min,1.000000,1951.000000,2.000000e+00,1.610610e+09,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-11.000000,0.000000,0.000000
25%,59.000000,1983.000000,1.559000e+03,1.610613e+09,9.000000,141.000000,18.000000,43.000000,0.391000,0.000000,...,22.000000,8.000000,4.000000,1.000000,7.000000,15.000000,48.000000,54.000000,0.690000,0.310000
50%,130.000000,1998.000000,7.686100e+04,1.610613e+09,39.000000,589.000000,79.000000,181.000000,0.440000,3.000000,...,95.000000,39.000000,17.000000,7.000000,32.000000,60.000000,209.000000,244.000000,1.220000,0.500000
75%,240.000000,2011.000000,2.007580e+05,1.610613e+09,72.000000,1687.000000,247.000000,546.000000,0.488000,24.000000,...,261.000000,126.000000,49.000000,23.000000,91.000000,155.000000,645.000000,747.000000,1.950000,0.730000
max,582.000000,2022.000000,1.641645e+06,1.610613e+09,85.000000,3882.000000,1597.000000,3159.000000,1.000000,402.000000,...,2149.000000,1164.000000,301.000000,456.000000,464.000000,386.000000,4029.000000,4183.000000,21.000000,8.000000

In [ ]:
df.tail()

,Rank,Year,Season Start Year,Season Type,Player ID,Player,Team ID,Team,Games Played,Minutes Played,...,Rebounds,Assists,Steals,Blocks,Turnovers,Personal Fouls,Points Scored,Efficency,AST/TOV,STL/TOV
33324,194,2022-23,2022,Playoffs,203496,Robert Covington,1610612746,LAC,2,12,...,2,2,0.0,1.0,0.0,2,0,2,0.0,0.0
33325,194,2022-23,2022,Playoffs,203648,Thanasis Antetokounmpo,1610612749,MIL,2,5,...,0,0,0.0,0.0,0.0,0,0,0,0.0,0.0
33326,194,2022-23,2022,Playoffs,2617,Udonis Haslem,1610612748,MIA,1,2,...,1,0,0.0,0.0,0.0,0,0,-1,0.0,0.0
33327,194,2022-23,2022,Playoffs,1628427,Vlatko Cancar,1610612743,DEN,4,10,...,3,1,0.0,0.0,0.0,0,0,-1,0.0,0.0
33328,194,2022-23,2022,Playoffs,1631111,Wendell Moore Jr.,1610612750,MIN,1,2,...,0,0,0.0,0.0,1.0,0,0,-1,0.0,0.0

In [ ]:
print(df['Blocks'].value_counts()[0.0])
print(df['Steals'].value_counts()[0.0])

4824
2645

In [ ]:
df['Offensive Rebounds'].tail()

33324    0.0
33325    0.0
33326    0.0
33327    0.0
33328    0.0
Name: Offensive Rebounds, dtype: float64

In [ ]:
print(df['Offensive Rebounds'].value_counts()[0.0])

2089

In [ ]:
df['Team ID'].unique()

array([1610612744, 1610612747, 1610612738, 1610612758, 1610612765,
       1610610024, 1610612752, 1610610030, 1610612755, 1610612737,
       1610612764, 1610612741, 1610612760, 1610612745, 1610612756,
       1610612749, 1610612757, 1610612746, 1610612739, 1610612762,
       1610612743, 1610612754, 1610612759, 1610612751, 1610612742,
       1610612766, 1610612748, 1610612750, 1610612753, 1610612761,
       1610612763, 1610612740])

In [ ]:
df['Team'].unique()

array(['PHW', 'MNL', 'BOS', 'ROC', 'FTW', 'BAL', 'NYK', 'INO', 'SYR',
       'MIH', 'STL', 'DET', 'CIN', 'LAL', 'CHP', 'SFW', 'CHZ', 'BLT',
       'PHL', 'CHI', 'SEA', 'SDR', 'PHX', 'ATL', 'MIL', 'POR', 'BUF',
       'CLE', 'HOU', 'GOS', 'KCK', 'CAP', 'WAS', 'NOJ', 'DEN', 'IND',
       'SAN', 'NYN', 'NJN', 'SDC', 'UTH', 'DAL', 'LAC', 'SAC', 'CHH',
       'MIA', 'MIN', 'ORL', 'TOR', 'VAN', 'UTA', 'GSW', 'PHI', 'SAS',
       'MEM', 'NOH', 'CHA', 'NOK', 'OKC', 'BKN', 'NOP'], dtype=object)

In [ ]:
df.groupby('Team ID')['Team'].apply(lambda x: ', '.join(x.unique())).reset_index()

       Team ID                     Team
0   1610610024                      BAL
1   1610610030                      INO
2   1610612737            MIH, STL, ATL
3   1610612738                      BOS
4   1610612739                      CLE
5   1610612740            NOH, NOK, NOP
6   1610612741                      CHI
7   1610612742                      DAL
8   1610612743                      DEN
9   1610612744       PHW, SFW, GOS, GSW
10  1610612745                 SDR, HOU
11  1610612746            BUF, SDC, LAC
12  1610612747                 MNL, LAL
13  1610612748                      MIA
14  1610612749                      MIL
15  1610612750                      MIN
16  1610612751            NYN, NJN, BKN
17  1610612752                      NYK
18  1610612753                      ORL
19  1610612754                      IND
20  1610612755            SYR, PHL, PHI
21  1610612756                      PHX
22  1610612757                      POR
23  1610612758       ROC, CIN, KCK, SAC
24  1610612759                 SAN, SAS
25  1610612760                 SEA, OKC
26  1610612761                      TOR
27  1610612762            NOJ, UTH, UTA
28  1610612763                 VAN, MEM
29  1610612764  CHP, CHZ, BLT, CAP, WAS
30  1610612765                 FTW, DET
31  1610612766                 CHH, CHA

In [ ]:
#df[df['Team ID'] == 1610612740]

#df_1 = df[df['Team ID'] == 1610612740]

In [ ]:
df.loc[df['Team ID'] == 1610612744, 'Team'] = "GSW"
df.loc[df['Team ID'] == 1610612740, 'Team'] = "NOP"
df.loc[df['Team ID'] == 1610612737, 'Team'] = "ATL"
df.loc[df['Team ID'] == 1610612745, 'Team'] = "HOU"
df.loc[df['Team ID'] == 1610612746, 'Team'] = "LAC"
df.loc[df['Team ID'] == 1610612747, 'Team'] = "LAL"
df.loc[df['Team ID'] == 1610612751, 'Team'] = "BKN"
df.loc[df['Team ID'] == 1610612758, 'Team'] = "PHI"
df.loc[df['Team ID'] == 1610612755, 'Team'] = "SAC"
df.loc[df['Team ID'] == 1610612759, 'Team'] = "SAS"
df.loc[df['Team ID'] == 1610612760, 'Team'] = "OKC"
df.loc[df['Team ID'] == 1610612762, 'Team'] = "UTA"
df.loc[df['Team ID'] == 1610612763, 'Team'] = "MEM"
df.loc[df['Team ID'] == 1610612764, 'Team'] = "WAS"
df.loc[df['Team ID'] == 1610612765, 'Team'] = "DET"
df.loc[df['Team ID'] == 1610612766, 'Team'] = "CHA"

In [ ]:
df.groupby('Team ID')['Team'].apply(lambda x: ', '.join(x.unique())).reset_index()

       Team ID Team
0   1610610024  BAL
1   1610610030  INO
2   1610612737  ATL
3   1610612738  BOS
4   1610612739  CLE
5   1610612740  NOP
6   1610612741  CHI
7   1610612742  DAL
8   1610612743  DEN
9   1610612744  GSW
10  1610612745  HOU
11  1610612746  LAC
12  1610612747  LAL
13  1610612748  MIA
14  1610612749  MIL
15  1610612750  MIN
16  1610612751  BKN
17  1610612752  NYK
18  1610612753  ORL
19  1610612754  IND
20  1610612755  SAC
21  1610612756  PHX
22  1610612757  POR
23  1610612758  PHI
24  1610612759  SAS
25  1610612760  OKC
26  1610612761  TOR
27  1610612762  UTA
28  1610612763  MEM
29  1610612764  WAS
30  1610612765  DET
31  1610612766  CHA

In [ ]:
# player with highest average points per game in specific season
# seasons over the year
df.groupby('Season Start Year')['Season Type'].apply(lambda x: ', '.join(x.unique())).reset_index()

    Season Start Year               Season Type
0                1951  Regular Season, Playoffs
1                1952  Regular Season, Playoffs
2                1953  Regular Season, Playoffs
3                1954  Regular Season, Playoffs
4                1955  Regular Season, Playoffs
..                ...                       ...
67               2018  Regular Season, Playoffs
68               2019  Regular Season, Playoffs
69               2020  Regular Season, Playoffs
70               2021  Regular Season, Playoffs
71               2022  Regular Season, Playoffs

[72 rows x 2 columns]

In [ ]:
# seasons type
df_regular_seasons = df[df['Season Type']== 'Regular Season']
df_playoffs = df[df['Season Type']=='Playoffs']

In [ ]:
df_regular_seasons.shape

(22832, 31)

In [ ]:
df_playoffs.shape

(10497, 31)

## Exploratory Data Analysis

In [ ]:
# get the player with the highest average points per game in a specific season over history
def get_ranked_players(seasons, players, points, games):
    player_averages = {}

    # Calculate average points for each player in each season
    for season, player, point, game in zip(seasons, players, points, games):
        if player in player_averages:
            player_averages[player].append((season, point / game))
        else:
            player_averages[player] = [(season, point / game)]

    ranked_players = []
    for player, season_averages in player_averages.items():
        season_averages.sort(key=lambda x: x[1], reverse=True)
        for season, average_score in season_averages:
            ranked_players.append((player, season, average_score))

    ranked_players.sort(key=lambda x: x[2], reverse=True)

    return ranked_players

In [ ]:
# list of players with highest scored in history and the season they performed
seasons = df_regular_seasons['Season Start Year']
players = df_regular_seasons['Player']
points = df_regular_seasons['Points Scored']
games = df_regular_seasons['Games Played']
ranked_players_rs = get_ranked_players(seasons, players, points, games)
ranked_players_rs[:10]

[('Wilt Chamberlain', 1961, 50.3625),
 ('Wilt Chamberlain', 1962, 44.825),
 ('Wilt Chamberlain', 1960, 38.392405063291136),
 ('Elgin Baylor', 1961, 38.25),
 ('Wilt Chamberlain', 1959, 37.59722222222222),
 ('Michael Jordan', 1986, 37.08536585365854),
 ('Wilt Chamberlain', 1963, 36.85),
 ('James Harden', 2018, 36.12820512820513),
 ('Rick Barry', 1966, 35.57692307692308),
 ('Kobe Bryant', 2005, 35.4)]

In [ ]:
# output in csv file
df_highiest_score = pd.DataFrame(ranked_players_rs, columns=['Player', 'Season', 'Average Score'])
# df_highiest_score.to_csv('player_score.csv', index=False)

In [ ]:
# player with the most assists in a given season
def get_ranked_assist(seasons, players, assists):
    player_averages = {}

    # Calculate assists for each player in each season
    for season, player, assist in zip(seasons, players, assists):
        if player in player_averages:
            player_averages[player].append((season, assist))
        else:
            player_averages[player] = [(season, assist)]

    ranked_players = []
    for player, season_averages in player_averages.items():
        for season, average_assist in season_averages:
            ranked_players.append((player, season, average_assist))

    ranked_players.sort(key=lambda x: x[2], reverse=True)

    return ranked_players

In [ ]:
# list of players with highest assists score in history and the season they performed
seasons = df_regular_seasons['Season Start Year']
players = df_regular_seasons['Player']
assists = df_regular_seasons['Assists']
ranked_assists_rs = get_ranked_assist(seasons, players, assists)
ranked_assists_rs[:10]

[('John Stockton', 1990, 1164),
 ('John Stockton', 1989, 1134),
 ('John Stockton', 1987, 1128),
 ('John Stockton', 1991, 1126),
 ('Isiah Thomas', 1984, 1123),
 ('John Stockton', 1988, 1118),
 ('Kevin Porter', 1978, 1099),
 ('John Stockton', 1993, 1031),
 ('John Stockton', 1994, 1011),
 ('Kevin Johnson', 1988, 991)]

In [ ]:
# output csv file
df_assists_rs = pd.DataFrame(ranked_assists_rs, columns=['Player', 'Season', 'Assists Score'])
# df_assists_rs.to_csv('player_assists.csv', index=False)

In [ ]:
#rank the best rebounder in a specific league (team)
def get_ranked_rebounder(teams, players, rebounds):
    team_rebounds = {}

    # Calculate highest rebound score for each team
    for team, player, rebound in zip(teams, players, rebounds):
        if team in team_rebounds:
            if rebound > team_rebounds[team][1]:
                team_rebounds[team] = (player, rebound)
        else:
            team_rebounds[team] = (player, rebound)

    sorted_teams = sorted(team_rebounds.items(), key=lambda x: x[1][1], reverse=True)

    return sorted_teams

In [ ]:
# list of NBA teams with the players who scored highest rebounds in history
teams = df_regular_seasons['Team ID']
players = df_regular_seasons['Player']
rebounds = df_regular_seasons['Rebounds']
ranked_rebounds_rs = get_ranked_rebounder(teams, players, rebounds)
ranked_rebounds_rs[:10]

[(1610612744, ('Wilt Chamberlain', 2149)),
 (1610612755, ('Wilt Chamberlain', 1957)),
 (1610612738, ('Bill Russell', 1930)),
 (1610612747, ('Wilt Chamberlain', 1712)),
 (1610612758, ('Jerry Lucas', 1668)),
 (1610612737, ('Bob Pettit', 1540)),
 (1610612765, ('Dennis Rodman', 1530)),
 (1610612764, ('Walt Bellamy', 1500)),
 (1610612745, ('Moses Malone', 1444)),
 (1610612759, ('Dennis Rodman', 1367))]

In [ ]:
df_rebounds_rs = pd.DataFrame(ranked_rebounds_rs, columns=['Team ID', 'Player'])
df_rebounds_rs[['Player Name', 'Rebounds score']] = pd.DataFrame(df_rebounds_rs['Player'].tolist())
df_rebounds_rs.drop('Player', axis=1, inplace=True)
df_rebounds_rs = df_rebounds_rs[['Player Name', 'Rebounds score', 'Team ID']]
df_rebounds_rs

In [ ]:
# output csv file
#df_rebounds_rs.to_csv('player_rebounds.csv', index=False)

In [ ]:
def get_players_with_fg_counts(players, fg_rates):

# Create a dictionary to store the counts for each player
    player_counts = {}

    # Iterate over the players and FG rates
    for player, rate in zip(players, fg_rates):
        if player not in player_counts:
            player_counts[player] = {'1pct': 0, '0to0_5': 0, '0_5to1': 0}

        if rate == 1.0:
            player_counts[player]['1pct'] += 1
        elif rate > 0.0 and rate < 0.5:
            player_counts[player]['0to0_5'] += 1
        elif rate >= 0.5 and rate < 1.0:
            player_counts[player]['0_5to1'] += 1

    sorted_players = sorted(player_counts.items(), key=lambda x: x[1]['1pct'], reverse=True)

    return sorted_players

In [ ]:
# list of NBA teams with players performed most efficient shoot (based on FG%) in history
teams = df_regular_seasons['Team ID']
players = df_regular_seasons['Player']
fg_rates = df_regular_seasons['FG %']
ranked_FGS_rs = get_players_with_fg_counts(players, fg_rates)
ranked_FGS_rs

In [ ]:
ranked_FGS_df = pd.DataFrame(ranked_FGS_rs, columns=['Player', 'Values'])

# Expand the 'Values' dictionary into separate columns
ranked_FGS_df = pd.concat([ranked_FGS_df['Player'], ranked_FGS_df['Values'].apply(pd.Series)], axis=1)
ranked_FGS_df

In [ ]:
# output csv file
#ranked_FGS_df.to_csv('player_fg%.csv', index=False)

In [ ]:
def find_team_with_highest_avg_points(teams, players, points, games, seasons):
    team_avg_points = {}  # Dictionary to store the average points per team for each season
    
    # Iterate over the players' data
    for team, player, pts, gms, season in zip(teams, players, points, games, seasons):
        key = (team, season)
        if key not in team_avg_points:
            team_avg_points[key] = {'total_pts': 0, 'total_gms': 0, 'num_players': 0}

        team_avg_points[key]['total_pts'] += pts
        team_avg_points[key]['total_gms'] += gms
        team_avg_points[key]['num_players'] += 1

    highest_avg_teams = []

    # Calculate average points per team for each season
    for key, data in team_avg_points.items():
        team, season = key
        total_pts = data['total_pts']
        total_gms = data['total_gms']
        num_players = data['num_players']
        avg_points = total_pts / total_gms / num_players

        highest_avg_teams.append((season, team, avg_points))

    # Sort the teams based on average points per game in descending order
    highest_avg_teams = sorted(highest_avg_teams, key=lambda x: x[2], reverse=True)

    return highest_avg_teams

In [ ]:
# team has the highest average points per game in a specific season
teams = df_regular_seasons['Team ID']
players = df_regular_seasons['Player']
points = df_regular_seasons['Points Scored']
games = df_regular_seasons['Games Played']
season = df_regular_seasons['Season Start Year']

result = find_team_with_highest_avg_points(teams, players, points, games, seasons)
result

In [ ]:
# output csv
df_result = pd.DataFrame(result, columns=['Season', 'Team', 'Value'])
#df_result.to_csv('team_with_highest_avg_points.csv', index=False)

In [ ]:
# win lose records of each team in NBA of season 2022
win_lose_2022 = pd.read_csv('2022_win_lose_records.csv')
win_lose_2022.head()

In [ ]:
# win lose patterns over the years of NBA seasons for each team

win_lose_2017_2022 = pd.read_excel('win_lose_records_2017_2022.xlsx')
win_lose_2017_2022.head()